.wrapper{
    width: 170px;
    height: 34px;
    padding: 4px 4px 4px 10px;
    display: flex;
    align-items: center;
    border-bottom-left-radius: 4px;   
    border-top-left-radius: 4px;
    cursor: pointer;
    position: relative;

    img{
        width: 20px;
    }
    span{
        text-transform: capitalize;
        margin-left: 12px;
        font-size: 13px;
        color: #505050;
        font-weight: 500;
    }
    &:hover{
        background-color: #ea1c00;
        span{
            color: white;
        }
    }
    

    
}