.wrapper{
    max-width: 1310px;
    margin: 0 auto;
    margin-top: 12px;
    background-color: white;

    .banner{
        display: flex;
        padding-bottom: 10px;
    }

    .item{
        padding: 16px 0;
        
        .titile{
            padding: 10px 20px;
            width: 100%;
            height: 44px;
            background-color: #d7202c;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            margin-bottom: 2px;
            h2{
                font-size: 22px;
                text-transform: uppercase;
                font-weight: 500;    
            }
            a{
                text-decoration: none;
                font-size: 14px;
                text-align: center;
                display: flex;
                align-items: center;
                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                }
            }
        }
        .grid-layout{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper{
        .item{
            .grid-layout {
                grid-template-columns: repeat(2, 1fr); 
              }
        }
    }
  }