.wrapper{
    max-width: 1310px;
    margin: 0 auto;
    display: flex;
    
    
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 170px;
        overflow: hidden;
        background-color: white; 
        border-bottom-left-radius: 4px;   
        border-top-left-radius: 4px;   
        
    }
    .right{
        padding-left: 7px;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex: 1;
        .slide{
            width: calc(100%/3*2);

            .img-slide{
                display: flex;
            }
        }
        .list-img{
            width: calc(100%/3);
        }
        
    }
}